.card {
  background-color: #eee;
  border: 2px #ccc solid;
  border-radius: 15px;
  display: flex;
  align-items: center;
  padding: 5px;
  margin: 2px;
}

.name {
  margin-left: 10px;
}

.year {
  margin-left: 10px;
}
