.card {
  background-color: #c6c3ff;
  border: 2px #c6c3ff solid;
  border-radius: 15px;
  display: flex;
  align-items: center;
  padding: 5px;
  margin: 2px;
  cursor: pointer;
}

.card:hover {
  background-color: #b5b1ff;
}

.name {
  margin-left: 10px;
}

.year {
  margin-left: 10px;
}

@media (max-width: 500px) {
  .name {
    font-size: 15px;
  }

  .year {
    font-size: 15px;
  }
}
