.appBody {
  height: 100vh;
  
  background: linear-gradient(to bottom, #000000aa, #000000bb, #000000dd),
  url(./images/background.jpg) 0px 0px / cover;
}

@keyframes searchResultAnimation {
  0% {
    transform: translateY(0px);
  }

  100% {
    transform: translateY(-50%) scaleX(0.7) scaleY(0.7);
  }
}

@keyframes searchResetAnimation {
  0% {
    opacity: 0.5;
  }

  100% {
    opacity: 1;
  }
}

.searchBoxResetAnimation {
  animation: searchResetAnimation 1s;
}

.searchBoxResultAnimation {
  animation: searchResultAnimation 3s;
  animation-fill-mode: forwards;
}

.searchForm {
  height: 40%;

  display: flex;
  justify-content: center;
  align-items: end;
}

.searchInput {
  height: 50px;
  width: 30%;
  border-radius: 35px;
  border: none;
  outline: none;
  padding: 10px 20px;
  font-size: 19px;
}

.searchBtn {
  width: 50px;
  height: 50px;
  background-color: #fff;
  margin-left: -60px;
  margin-bottom: 10px;
  cursor: pointer;
}

.resultListContainer {
  position: absolute;
  height: 80%;
  width: 60%;
  top: 15%;
  right: 0;
  left: 0;
  margin: 0 auto;
}

.eachResultConainer {
  background-color: #eff;
  margin: 5px;
  padding: 10px;
  border-radius: 15px;

  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 20px;
  padding: 10px 40px;
  cursor: pointer;
}

.eachResultConainer:hover {
  background-color: rgba(238, 255, 255, 0.9)
}

.resultSign {
  width: 35px;
  height: 35px;
}

.resultHeadData {
  /* text-align: center; */
}